
.navbar {
    background-color: #296aa7;
    font-weight: bolder;
}
.navbar-brand {
    color: rgb(255, 255, 255) !important;
}
.card-body {
    background-color: rgba(123, 152, 204, 0.151);
}
.form {
    display: flex;
    justify-content: center;
}
.footer {
    position: absolute;
    bottom: 0; 
    width: 100%;

}
.card-body {
    height: 500px;
    text-align: center;
}
h3 {
    
}